# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
acquia-files
.directory
/.idea/
settings.local.php
/docroot/sites/default/settings.local.php
logs/
docroot/sites/default/sync
docroot/sites/simpletest
